.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .container img {
    flex-basis: 30%;
    max-width: 100%;
    height: auto;
    margin-bottom: 2%;
  }
  